  .sidenav {
    height: 100%;
    width: 17rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #039be5;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .main {
    margin-left: 17rem; 
    padding: 0;
  }

  .img-border {
    border:.5rem solid rgba(255,255,255,.2);
    border-top-color: rgba(255, 255, 255, 0.2);
    border-top-style: solid;
    border-top-width: 0.5rem;
    border-right-color: rgba(255, 255, 255, 0.2);
    border-right-style: solid;
    border-right-width: 0.5rem;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
    border-left-color: rgba(255, 255, 255, 0.2);
    border-left-style: solid;
    border-left-width: 0.5rem;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}
  
.all-center {
    position: relative;
    top: 20vh;
  }

.photo-center {
  background-color: #039be5;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}


.menu-navigation-link a {
    text-transform: uppercase;
    font-weight: 600;
    color: #63ccff !important;
}

.menu-navigation-link a:hover {
    text-transform: uppercase;
    font-weight: 600;
    color: white !important;
}

@media (max-width: 767px) {
    .menu-navigation * {
        display: none;
    }

    .sidenav {
        display: none;
    }

    .main {
        margin-left: 0;
      }
}

@media (min-width: 767px) {
    .photo-center {
        display: none;
      }
}


@media (min-width: 767px) {
    .navbar-wrapper * {
        display: none;
    } 
}

.navbar-wrapper {
    position: relative;
    width: 100%;
    background-color: #039be5;
}

.custom-card {
    margin: 20px;
}

section.resume-section {
    padding-top:5rem!important;
    padding-bottom:5rem!important;
    max-width:75rem;
    min-height: 100vh;
}

  .menu {   
    background: #039be5;
    padding: 0;
    position: relative;
}
